<%- include("./partition/head")%>

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading"  >
		<h1 class="sitetitle">AI</h1>
		<p class="lead">
			Visualization of Neural network Machine learning.
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2017 JH Lab
		</p>
		<p class="pull-right">
			<a target="_blank" href="https://www.hknu.ac.kr/sites/kor/index.do" style="padding-right: 12px;">한경대학교</a>
			<a target="_blank" href="https://github.com/leejunghyeokWN?tab=repositories">Github</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
