<%- include("./partition/head")%>

<div class="mainheading">
  <h1 class="sitetitle">DRAWING</h1>
  <p class="lead">
    때에 따라 그리고 싶은 스타일로 그림
  </p>
</div>
<div class="contents">
  <% for(var i=1; i<18; i++){ %>
    <% var str = 'images/instagram/instagram' + String(i-1) + '.jpg' %>
    <img class="photo" src= <%=str%> >
    <% if(i%5==0) {%>
      </div><div>
    <% } %>
  <%}%>
</div>

<%- include("./partition/foot")%>

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
