<%- include("./partition/head")%>

<div class="mainheading">
  <h1 class="sitetitle colorchange">DRAWING</h1>
  <p class="lead colorchange">
    때에 따라 그리고 싶은 스타일로 그림
  </p>
</div>
<div class="contents">
  <div class="photoCol">
    <% for(var i=0; i<20; i++){ %>
      <% var str = 'images/instagram/instagram' + String(i) + '.jpg' %>
        <% if(i%5==0 && i != 0) {%>
          </div><div class="photoCol">
        <% } %>
        <img class="photo" onmouseover= "overPhoto()" onmouseout="changeColorBack()" src=<%=str%> >
    <%}%>
  </div>
  <input type="button" class="seeButton" id="seemore" onclick="seeMore()" value="see more" style="background-color: #caf7e6;">
</div>

<%- include("./partition/foot")%>

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>

<script>
  const IMAGE_N = 34;
  function overPhoto(n){
    document.getElementById("palette").style.backgroundColor = "rgb(10, 10, 13)";
    document.getElementsByClassName("sitetitle")[0].style.color = "rgb(220, 220, 230)";
    document.getElementsByClassName("lead")[0].style.color = "rgb(200, 200, 210)";
    document.getElementsByClassName("contents")[0].style.margin = "0%";
  }
  function changeColorBack(n){
    document.getElementById("palette").style.backgroundColor = "rgb(240, 240, 245)";
    document.getElementsByClassName("sitetitle")[0].style.color = "#292B2C";
    document.getElementsByClassName("lead")[0].style.color = "#292B2C";
    document.getElementsByClassName("contents")[0].style.margin = "0% 10%";
  }
  function seeMore(){
    var contents = document.getElementsByClassName('contents')[0];
    contents.removeChild(document.getElementById('seemore'));

    for(let i=0; i<IMAGE_N-19; i++){
      if(i%5==0) {
        var more = document.createElement('div');
        more.classList.add('photocol');
        contents.appendChild(more);
      }
      var str = 'images/instagram/instagram' + String(i+20) + '.jpg';
      img = document.createElement('img');
      img.classList.add('photo');
      img.addEventListener("mouseover", overPhoto);
      img.addEventListener("mouseout", changeColorBack);
      img.src = str;
      more.appendChild(img);
    }
    
  }
</script>

</body>
</html>
