<%- include("./partition/head")%>

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading"  >
		<h1 class="sitetitle">JH lab</h1>
		<p class="lead">
			 Morning !
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Programming
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Programs</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="/ai">
						<div class="thumbnail" style="background-image:url(images/demopic/AI.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/ai">AI</a></h2>
						<h4 class="card-text">card-Text</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-6 wrapthumbnail">
					<a href="/reptopia">
						<div class="thumbnail" style="background-image:url(images/demopic/reptopia.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<div class="card-block">
						<h2 class="card-title"><a href="/reptopia">Reptopia</a></h2>
						<h4 class="card-text">card-Text</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="/algorithm">
						<div class="thumbnail" style="background-image:url(images/demopic/tree.jpg); 	background-position:80% 22% !important;">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/algorithm">Algorithms</a></h2>
						<h4 class="card-text">card-Text</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="/">
						<div class="thumbnail" style="background-image:url(images/demopic/1.jpg); 	background-position:80% 22% !important;">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/">?</a></h2>
						<h4 class="card-text">card-Text</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

	</div>
	</section>
	<!-- End Programming
	================================================== -->

	<!-- Begin Else
	================================================== -->
	<section class="recent-posts">
	<div class="section-title">
		<h2><span>Else</span></h2>
	</div>
	<div class="card-columns listrecent">

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/5.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Paintings</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/6.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Music</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/7.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Writting</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/9.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Blog</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/2.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Coffee</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

		<!-- begin post -->
		<div class="card">
			<a href="/">
				<img class="img-fluid" src="images/demopic/10.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="/">Dogs</a></h2>
				<h4 class="card-text">Card Text</h4>
			</div>
		</div>
		<!-- end post -->

	</div>
	</section>
	<!-- End List Posts
	================================================== -->

	<!-- Begin Footer
	================================================== -->
  <%- include("./partition/foot")%>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
