<%- include("./partition/head")%>

<div class="mainheading">
  <h1 class="sitetitle">MUSIC</h1>
  <p class="lead" style="font-style:italic; margin-bottom: 0px;">
    "Simply put, life without music is a wrong life, a weary life, and a life of exile."
  </p>
    <span style="font-style:italic;"> - Friedrich Wilhelm Nietzsche</span>
</div>
<div class="contents">
  <audio controls class="music">
    <source src="/music/20211217.mp3">
  </audio>
</div>

<%- include("./partition/foot")%>

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
