<%- include("./partition/head")%>
<script>
  window.onload = ()=>{
  var contains = document.getElementById('contains');
  contains.style.padding = '0rem 0rem';
  contains.style.margin = '0rem 0rem';
  }
</script>
<div class="mainheading">
  <h1 class="sitetitle">REPTOPIA</h1>
</div>
<canvas id="bg" style="width: 100%;"></canvas>
<%- include("./partition/foot")%>

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
<script type="module" src="javascripts/reptopia.js"></script>
</body>
</html>
