<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign in</h1>
    <p><%= messege %></p>

    <a href="/">Back to main</a>

    <form action="/signin" method="post">
      <br>
      <label for="id">id</label>
      <input type="id" class="form-control" id="id" placeholder="enter id" name="id" required>
      <label for="pw">pw</label>
      <input type="text" class="form-control" id="pw" placeholder="enter password" name="pw" required>
      <br>
      <input type="submit" value="Sign in"></input> <a href="/signup">Sign up</a>
      <br>
    </form>
  </body>
</html>
