<div class="footer">
  <p class="pull-left">
      Copyright &copy; 2017 JH Lab
  </p>
  <p class="pull-right">
    <a target="_blank" href="https://github.com/leejunghyeokWN?tab=repositories">Github</a>
    <a target="_blank" href="https://www.instagram.com/whatnextartid/">Instagram</a>
    <a target="_blank" href="https://www.hknu.ac.kr/sites/kor/index.do" style="padding-right: 12px;">한경대학교</a>
  </p>
  <div class="clearfix">
  </div>
</div>