<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.png">
  <title>JH Lab</title>

  <!-- Bootstrap CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- My css -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

  <!-- navbar hiding -->
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-5rem";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
</head>
<body id="palette" class="colorchange">

<!-- Begin Nav
================================================== -->
<nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container m0 p0">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="/">
	<img src="/images/logo.png" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class=<%if(category=="drawing"){%>"nav-item active"<%} else{%>"nav-item"<%}%>>
			<a class="nav-link" href="/">Drawing<%if(category=="drawing"){%><span class="sr-only">(current)</span><%}%></a>
			</li>
			<li class=<%if(category=="music"){%>"nav-item active"<%} else{%>"nav-item"<%}%>>
			<a class="nav-link" href="/music">Music<%if(category=="music"){%><span class="sr-only">(current)</span><%}%></a>
			</li>
			<li class=<%if(category=="reptopia"){%>"nav-item active"<%} else{%>"nav-item"<%}%>>
			<a class="nav-link" href="/reptopia">Reptopia<%if(category=="reptopia"){%><span class="sr-only">(current)</span><%}%></a>
			</li>
			<li class=<%if(category=="algorithm"){%>"nav-item active"<%} else{%>"nav-item"<%}%>>
			<a class="nav-link" href="/algorithm">Algorithm<%if(category=="algorithm"){%><span class="sr-only">(current)</span><%}%></a>
			</li>
			<li class=<%if(category=="contact"){%>"nav-item active"<%} else{%>"nav-item"<%}%>>
			<a class="nav-link" href="/contact">Contact<%if(category=="music"){%><span class="sr-only">(current)</span><%}%></a>
			</li>
		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->
		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
		</form> -->
		<!-- End Search -->
	</div>
</div>
</nav>
<div class="container" style="width: 95%;" id="contains">
<!-- End Nav
================================================== --> 